.container{
    padding: 40px;
}
.con-c{
    margin: 5px 5px;
    padding: 10px 10px;
}

.logo{
    height: 60px;
    width: 180px;
}

.btn-new-btn{
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 80px;
}



.navbar-nav{
    background-color: transparent;
}



.ractangle{
    position: absolute;
width: 1440px;
height: 576px;
left: 0px;
top: 0px;

background: #F0FFF0;
}


.ban-img{
    position: absolute;
width: 554px;
height: 346px;
left: 691px;
top: 157px;
}

.p1{
    position: absolute;
width: 188px;
height: 24px;
left: 205px;
top: 178px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FD511A;
}



.p2{
position: absolute;
width: 405px;
height: 140px;
left: 205px;
top: 212px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
/* or 146% */


color: #000000;

}

.p3{
position: absolute;
width: 405px;
height: 140px;
left: 205px;
top: 260px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
/* or 146% */


color: #000000;

}



.btn-new-btn{

    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 36px;

position: absolute;
width: 153px;
height: 43px;
left: 205px;
top: 470px;
color: white;

background: #21B573;
border-radius: 33px;
}


.p4{

    position: absolute;
width: 405px;
height: 140px;
left: 270px;
top: 260px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
/* or 146% */


color: #21B573;
}

.p5{
    position: absolute;
width: 403px;
height: 85px;
left: 205px;
top: 362px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 36px;
/* or 225% */


color: #6C6B6B;

}

.row{
   padding-bottom: 50px;
}



.card-1{
    position: absolute;
width: 270px;
height: 270px;
left: 35px;
top: 630px;

background: #FFFFFF;
border-radius: 10px;
}

.card-2{

    position: absolute;
width: 270px;
height: 270px;
left: 435px;
top: 618px;

background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;


}

.card-3{

    position: absolute;
width: 270px;
height: 270px;
left: 734px;
top: 618px;

background: #F8FFFB;
border-radius: 10px;

}

.card-4{

position: absolute;
width: 270px;
height: 270px;
left: 1035px;
top: 618px;

background: #F8FFFB;
border-radius: 10px;

}

.title-1{
position: absolute;
width: 160px;
height: 40px;
left: 60px;
top: 190px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 38px;
/* identical to box height */


color: #413960;
}


.title-2{

    position: absolute;
width: 200px;
height: 36px;
left: 40px;
top: 170px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
/* identical to box height */


color: #413960;

}

.title-3{
    position: absolute;
width: 200px;
height: 36px;
left: 35px;
top: 170px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.title-4{

    position: absolute;
width: 190px;
height: 36px;
left: 45px;
top: 170px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.text-1{
    position: absolute;
width: 138px;
height: 24px;
left: 70px;
top: 230px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #585859;


}

.text-2{

    position: absolute;
width: 150px;
height: 24px;
left: 70px;
top: 218px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 24px;
/* identical to box height */


color: #585859;
}

.text-3{

    position: absolute;
width: 150px;
height: 24px;
left: 70px;
top: 218px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #585859;
}


.text-4{

    position: absolute;
width: 150px;
height: 24px;
left: 70px;
top: 218px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #585859;

}

.img-1{
    position: absolute;
width: 66px;
height: 85px;
left: 100px;
top: 90px;

 /* background: url(image.png);  */
}

.img-2{
    position: absolute;
width: 75px;
height: 80px;
left: 100px;
top: 75px;

/* background: url(image.png); */
}

.img-3{
    position: absolute;
width: 68px;
height: 76px;
left: 100px;
top: 80px;

/* background: url(image.png); */

}

.img-4{
    position: absolute;
width: 80px;
height: 83px;
left: 100px;
top: 80px;

/* background: url(image.png); */
}

.online-course{
    position: absolute;
width: 280px;
height: 54px;
left: 551px;
top: 986px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
/* identical to box height */


color: #413960;

}

.img2-1{
    position: absolute;
width: 331px;
height: 234px;
left: 154px;
top: 1126px;

/* background: url(.jpg), #CFB6B6; */
border-radius: 11px;
}

.p7{
    position: absolute;
width: 237px;
height: 36px;
left: 158px;
top: 1379px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.p8{

    position: absolute;
width: 96px;
height: 24px;
left: 158px;
top: 1418px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;
}

.img2-2{
    position: absolute;
width: 331px;
height: 234px;
left: 554px;
top: 1126px;

/* background: url(.jpg), #CFB6B6; */
border-radius: 11px;
}

.p9{

    position: absolute;
width: 237px;
height: 36px;
left: 558px;
top: 1379px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.p10{

    position: absolute;
width: 96px;
height: 24px;
left: 558px;
top: 1418px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;

}


.img2-3{
    position: absolute;
width: 331px;
height: 234px;
left: 953px;
top: 1126px;

/* background: url(.jpg), #CFB6B6; */
border-radius: 11px;
}

.p11{
    position: absolute;
width: 237px;
height: 36px;
left: 957px;
top: 1379px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #413960;

}


.p12{

    position: absolute;
width: 96px;
height: 24px;
left: 957px;
top: 1418px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;

}

.b1{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 28px;

position: absolute;
width: 130px;
height: 35px;
left: 158px;
top: 1461px;

background: #21B573;
border: none;
border-radius: 33px;

}

.b2{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 28px;

position: absolute;
width: 140px;
height: 35px;
left: 558px;
top: 1461px;

background: #21B573;
border-radius: 33px;
border: none;
}

.b3{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 28px;

position: absolute;
width: 140px;
height: 35px;
left: 957px;
top: 1461px;

background: #21B573;
border-radius: 33px;
border: none;
}

.b-text1{
    position: static;
width: 130px;
height: 19px;
left: 28px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
border: none;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px; */
}

.b-text2{
    position: static;
width: 140px;
height: 19px;
left: 28px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px; */
}

.b-text3{
    position: static;
width: 140px;
height: 19px;
left: 28px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px; */
}