.container{
    padding: 40px;
}
.con-c{
    margin: 5px 5px;
    padding: 10px 10px;
}

.logo{
    height: 60px;
    width: 180px;
}

.btn-new-btn{
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 80px;
}



.navbar-nav{
    background-color: transparent;
}



.ractangle{
    position: absolute;
width: 1440px;
height: 576px;
left: 0px;
top: 0px;

background: #F0FFF0;
}


.ban-img{
    position: absolute;
width: 554px;
height: 346px;
left: 691px;
top: 157px;
}

.p1{
    position: absolute;
width: 188px;
height: 24px;
left: 205px;
top: 178px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FD511A;
}



.p2{
position: absolute;
width: 405px;
height: 140px;
left: 205px;
top: 212px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
/* or 146% */


color: #000000;

}

.p3{
position: absolute;
width: 405px;
height: 140px;
left: 205px;
top: 260px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
/* or 146% */


color: #000000;

}



.btn-new-btn{

    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 36px;

position: absolute;
width: 153px;
height: 43px;
left: 205px;
top: 470px;
color: white;

background: #21B573;
border-radius: 33px;
}


.p4{

    position: absolute;
width: 405px;
height: 140px;
left: 270px;
top: 260px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
/* or 146% */


color: #21B573;
}

.p5{
    position: absolute;
width: 403px;
height: 85px;
left: 205px;
top: 362px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 36px;
/* or 225% */


color: #6C6B6B;

}

.row{
   padding-bottom: 50px;
}



.card-1{
    position: absolute;
width: 270px;
height: 270px;
left: 35px;
top: 630px;

background: #FFFFFF;
border-radius: 10px;
}

.card-2{

    position: absolute;
width: 270px;
height: 270px;
left: 435px;
top: 618px;

background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;


}

.card-3{

    position: absolute;
width: 270px;
height: 270px;
left: 734px;
top: 618px;

background: #F8FFFB;
border-radius: 10px;

}

.card-4{

position: absolute;
width: 270px;
height: 270px;
left: 1035px;
top: 618px;

background: #F8FFFB;
border-radius: 10px;

}

.title-1{
position: absolute;
width: 160px;
height: 40px;
left: 60px;
top: 190px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 38px;
/* identical to box height */


color: #413960;
}


.title-2{

    position: absolute;
width: 200px;
height: 36px;
left: 40px;
top: 170px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
/* identical to box height */


color: #413960;

}

.title-3{
    position: absolute;
width: 200px;
height: 36px;
left: 35px;
top: 170px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.title-4{

    position: absolute;
width: 190px;
height: 36px;
left: 45px;
top: 170px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.text-1{
    position: absolute;
width: 138px;
height: 24px;
left: 70px;
top: 230px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #585859;


}

.text-2{

    position: absolute;
width: 150px;
height: 24px;
left: 70px;
top: 218px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 24px;
/* identical to box height */


color: #585859;
}

.text-3{

    position: absolute;
width: 150px;
height: 24px;
left: 70px;
top: 218px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #585859;
}


.text-4{

    position: absolute;
width: 150px;
height: 24px;
left: 70px;
top: 218px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #585859;

}

.img-1{
    position: absolute;
width: 66px;
height: 85px;
left: 100px;
top: 90px;

 /* background: url(image.png);  */
}

.img-2{
    position: absolute;
width: 75px;
height: 80px;
left: 100px;
top: 75px;

/* background: url(image.png); */
}

.img-3{
    position: absolute;
width: 68px;
height: 76px;
left: 100px;
top: 80px;

/* background: url(image.png); */

}

.img-4{
    position: absolute;
width: 80px;
height: 83px;
left: 100px;
top: 80px;

/* background: url(image.png); */
}

.online-course{
    position: absolute;
width: 280px;
height: 54px;
left: 551px;
top: 986px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
/* identical to box height */


color: #413960;

}




.c-1{
    position: absolute;
width: 370px;
height: 483px;
left: 135px;
top: 1102px;

background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;

}

.c-2{

    position: absolute;
width: 370px;
height: 483px;
left: 535px;
top: 1102px;

background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;

}

.c-3{

    position: absolute;
width: 370px;
height: 483px;
left: 934px;
top: 1102px;

background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}

.img2-1{
    position: absolute;
width: 331px;
height: 234px;
left: 20px;
top: 20px;

/* background: url(.jpg), #CFB6B6; */
border-radius: 11px;
}

.p7{
position: absolute;
width: 237px;
height: 36px;
left: 23px;
top: 280px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.p8{ 
position: absolute;
width: 96px;
height: 24px;
left: 23px;
top: 320px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;
}

.img2-2{
position: absolute;
width: 331px;
height: 234px;
left: 20px;
top: 20px;


/* background: url(.jpg), #CFB6B6; */
border-radius: 11px;
}

.p9{

position: absolute;
width: 237px;
height: 36px;
left: 23px;
top: 280px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #413960;

}

.p10{

    position: absolute;
width: 96px;
height: 24px;
left: 23px;
top: 320px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;

}


.img2-3{
    position: absolute;
width: 331px;
height: 234px;
left: 20px;
top: 20px;

/* background: url(.jpg), #CFB6B6; */
border-radius: 11px;
}

.p11{
    position: absolute;
width: 237px;
height: 36px;
left: 23px;
top: 280px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #413960;

}


.p12{

    position: absolute;
width: 96px;
height: 24px;
left: 23px;
top: 320px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;

}

.b1{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 28px;

position: absolute;
width: 130px;
height: 35px;
left: 23px;
top: 365px;

background: #21B573;
border: none;
border-radius: 33px;

}

.b2{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 28px;

position: absolute;
width: 140px;
height: 35px;
left: 23px;
top: 365px;

background: #21B573;
border-radius: 33px;
border: none;
}

.b3{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 28px;

position: absolute;
width: 140px;
height: 35px;
left: 23px;
top: 365px;

background: #21B573;
border-radius: 33px;
border: none;
}

.b-text1{
    position: static;
width: 130px;
height: 19px;
left: 28px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
border: none;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px; */
}

.b-text2{
    position: static;
width: 140px;
height: 19px;
left: 28px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px; */
}

.b-text3{
    position: static;
width: 140px;
height: 19px;
left: 28px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px; */
}


.clndr1{
    position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 425px;
}

.f-text1{
    position: absolute;
width: 146px;
height: 24px;
left: 55px;
top: 425px;

/* font-family: sans-serif; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;


}

.ppl1{
    position: absolute;
width: 24px;
height: 24px;
left: 230px;
top: 425px;
}

.sit1{
    position: absolute;
width: 75px;
height: 25px;
left: 265px;
top: 425px;

/* font-family:sans-serif; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;

}

.clndr2{
    position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 425px;
}

.f-text2{
    position: absolute;
width: 146px;
height: 24px;
left: 55px;
top: 425px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;
}

.ppl2{
    position: absolute;
width: 24px;
height: 24px;
left: 230px;
top: 425px;

}

.sit2{
    position: absolute;
width: 68px;
height: 24px;
left: 265px;
top: 425px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;
}


.clndr3{

    position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 425px;


}

.f-text3{

    position: absolute;
width: 146px;
height: 24px;
left: 55px;
top: 425px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;

}

.ppl3{

    position: absolute;
width: 24px;
height: 24px;
left: 230px;
top: 425px;

}

.sit3{

    
position: absolute;
width: 68px;
height: 24px;
left: 265px;
top: 425px;

/* font-family: Poppins; */
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #585859;

}

.test-p{
    position: absolute;
width: 219px;
height: 54px;
left: 635px;
top: 1666px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
/* identical to box height */


color: #000000;

}

.man{

    position: absolute;
width: 120px;
height: 120px;
left: 353px;
top: 1787px;

/* background: url(.jpg), #C4C4C4; */
}

.man-para{

    position: absolute;
width: 580px;
height: 90px;
left: 525px;
top: 1796px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 187% */


color: #000000;
}



.f{

    position: absolute;
width: 1440px;
height: 369px;
left: 0px;
top: 2013px;

background: #282531;
}

.f-para{
    position: absolute;
width: 364px;
height: 60px;
left: 143px;
top: 70px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 187% */


color: #ffffff;

}


.course{

position: absolute;
width: 123px;
height: 181px;
left: 633px;
top: 70px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* or 167% */


color: #FFFFFF;

}

.courses{
    position: absolute;
width: 123px;
height: 180px;
left: 633px;
top: 110px;

/* font-family: Poppins; */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 167% */


color: #FFFFFF;

}

.term{
    position: absolute;
width: 123px;
height: 180px;
left: 897px;
top: 70px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* or 187% */


color: #FFFFFF;
}


.terms{

    position: absolute;
width: 123px;
height: 180px;
left: 897px;
top: 110px;

/* font-family: Poppins; */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 187% */


color: #FFFFFF;

}

.useful{
    position: absolute;
width: 123px;
height: 180px;
left: 1181px;
top: 70px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* or 187% */


color: #FFFFFF;

}

.link{
    position: absolute;
width: 123px;
height: 180px;
left: 1181px;
top: 110px;

/* font-family: Poppins; */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 187% */


color: #FFFFFF;

}

.copy{
    position: absolute;
width: 337px;
height: 30px;
left: 636px;
top: 340px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */


color: #CDCDCD;
}
